body {
	overscroll-behavior: none;
	overflow-x: hidden;
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

*::-webkit-scrollbar {
	display: none;
}

@keyframes fade {
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
